.sidebar {
    background: linear-gradient(145deg, #14181d, #566777);
    color: #fff; 
    padding: 0px !important; 
    height: 100vh !important;
  }

  .navItem {
     border-bottom: 1px solid #21343a;
     cursor: pointer;
     margin:1px !important;
  }

  .navItem:hover {
    background-color: #1c252c;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .navLink {
    color: #fff !important; 
    text-decoration: none;
    transition: border-color 0.3s ease-in-out;
  }

  .active {
    background-color: #3d4952 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  
  