/* Header.css */

.hamburgerBox {
  align-items: center;
}

.hamburger {
  color: white;
  cursor: pointer;
  z-index: 999;
}

  .profile-dropdown {
    color: #fff; /* Light color for dropdown items */
  }

  .logoBox {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  
  .logo {
    width: 40px;
    height: 45px;
  }
  

  @media screen and (max-width: 767px) {
     .hamburgerBox {
      justify-content: end;
    } 
  }